<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="/img/weather.png"/>
</head>

<body>
 <div class="main-content">
    {{>header}}
    <p>This site was creted by Deepak Khetan and it leverages mapbox and weatherstack apis to get weather information to you!</p>
    <img class="portrait" src="/img/IMG_6881.png"/>
 </div>
    {{>footer}}
</body>

</html>